<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<title>GunDeals.com, the Best Deals on Guns, Firearms, Ammo and Accessories</title>
<meta name="description" content="Shop the best prices online for popular Firearms, Ammo, and Accessories!  Unbeatable prices and daily sales from top brands you trust!" />
<meta name="keywords" content="gun deals, ammo deals, ammo, ammunition, black powder, bolt-action, bolt action, center-fire, center fire, gun, fire-arm, firearm, hand-gun, handgun, hosters, belt holsters, conceal and carry, conceal and carry holster, lever-action, leveraction, lever action, optics, lasers, magazines, scopes, pump-action, pump action, rifle, rifles, rimfire, rim fire, semi-automatic, semiautomatic, shotgun, shot gun, shotguns, single-shot, single, storage, safe, gun safes, gun cabinets" />
<!-- <meta name="robots" content="INDEX,FOLLOW" /> -->
<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="favicons/favicon.ico">
<!-- <meta name="apple-mobile-web-app-title" content="GunDeals">
<meta name="application-name" content="GunDeals"> -->
<script src="js/jquary3.2.1.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic|Open+Sans+Condensed:700" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!-- <link rel="stylesheet" type="text/css" href="js/calendar/calendar-system.css" /> -->
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/styles.css" media="all" />
<!-- <link rel="stylesheet" type="text/css" href="skin/frontend/odl/default/css/widgets.css" media="all" /> -->
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/default/aw_blog/css/style.css" media="all" />
<!-- <link rel="stylesheet" type="text/css" href="skin/frontend/odl/default/css/aw_raf.css" media="all" /> -->
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/aw_raf_custom.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/amshopby.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/base/default/css/bubble/elasticsearch.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/magestore/sociallogin.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/magestore/mobilesociallogin.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/default/dailydeal/css/dailydeal.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/odl.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/responsive.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/font.css" media="all" />
<!-- <link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/slick.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/slick-theme.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/featherlight.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/odl/css/magestore/promotionalgift.css" media="all" />
<link rel="stylesheet" type="text/css" href="skin/frontend/odl/default/css/print.css" media="print" /> -->
<link rel="stylesheet" type="text/css" href="css/chatBot.css">

<style>
.main-nav #nav li.level0.last.level-top{
border-top: solid 4px #de6328;
border-bottom: solid 4px #de6328;
}
@media only screen and (max-width: 767px){
div.addthis_inline_follow_toolbox{padding-left:18px !important;}
}
</style>
</head>
<body class="ig-404tosearch-index-index cms-home" ng-app="chatbot" ng-controller="chatbotCtrl" ng-init="init()">
<div class="wrapper">
<noscript>
    <div class="global-site-notice noscript">
    <div class="notice-inner">
    <p><strong>JavaScript seems to be disabled in your browser.</strong><br />You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
    </div>
    </div>
</noscript>
<div class="header-container">
    <div class="mobile-header">
        <div class="mobile-menu"><span class="icon-NavMenuIcon"></span><span class="icon-close"></span></div>
            <a href="index.html" class="logo">
            <img src="skin/frontend/odl/odl/images/logo-tablet.png" width="auto" alt="" class="tablet-logo" />
            <img src="skin/frontend/odl/odl/images/logo-mobile.png" width="auto" alt="" class="mobile-logo" />
        </a>
    </div>
    <header class="clearfix">
        <div class="branding">
            <div>
                <h1 class="logo"><strong>GunDeals.com</strong><a href="index.html" title="GunDeals.com" class="logo"><img src="skin/frontend/odl/odl/images/logo.png" alt="GunDeals.com" /></a></h1>
            <p class="no-display" itemprop="legalName">GunDeals.com</p>
            </div>
        </div>
        <div class="header-actions">
            <ul class="links">
                <li class="first" ><a href="#" title="Log In" >Log In</a></li>
                <li class=" last" ><a href="#" title="register" >register</a></li>
            </ul>
            <div class="header-search"><span class="icon-search"></span></div>
            <div class="header-cart">
                <div class="top-cart">
                    <div class="block-title no-items">
                        <strong id="cartHeader"><span class="icon-cart"></span></strong>
                    </div>
                    <div id="topCartContent" class="block-content" style="display:none">
                        <div class="inner-wrapper">
                            <div class="title">
                                <div class="left"><h2>Cart</h2></div>
                                <div class="right">
                                    <p class="block-subtitle"><span oclass="icon-close"></span></p>
                                </div>
                            </div>
                            <p class="cart-empty">You have no items in your shopping cart.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="valign-helper"></div> -->
    </header>
    <form id="search_mini_form" action="" method="get">
        <div class="form-search">
            <span class="icon-search"></span>
            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128"/>
            <div id="search_autocomplete" class="search-autocomplete"></div>
            <span class="icon-close"></span>
        </div>
    </form>
    <div class="mobile-nav">
        <div class="actions">
            <ul class="links">
            <li class="first" ><a href="#" title="Log In" >Log In</a></li>
            <li class=" last" ><a href="#" title="register" >register</a></li>
            </ul>
        </div>
        <div class="nav-container">
            <ul id="nav">
            <li class="level0 nav-0 level-top active"><a href="index.html" class="level-top"><div>Featured Deals</div></a></li>
            <li class="level0 nav-1 first level-top parent"><a href="#" class="level-top" ><div>Firearms</div></a></li>
            <li class="level0 nav-2 level-top parent"><a href="#" class="level-top" ><div>Ammunition</div></a></li>
            <li class="level0 nav-3 level-top parent"><a href="#" class="level-top" ><div>Accessories</div></a></li>
            <li class="level0 nav-4 level-top parent"><a href="#" class="level-top" ><div>Optics</div></a></li>
            <li class="level0 nav-5 level-top parent"><a href="#" class="level-top" ><div>Lights and Lasers</div></a></li>
            <li class="level0 nav-6 level-top parent"><a href="#" class="level-top" ><div>Belts, Cases, &amp; Holsters</div></a></li>
            <li class="level0 nav-7 level-top"><a href="#" class="level-top" ><div>Personal Defense</div></a></li>
            <li class="level0 nav-8 last level-top"><a href="#" class="level-top" ><div>Clearance </div></a></li>
        </ul>
        </div>
    </div>
    <div class="widget widget-banner">
        <ul>
            <li class="dark" >
                <a href="#">
                <!--<div class="banner-entry" style="background-image: url(skin/frontend/odl/odl/images/gd-featured-image3.jpg);">-->
                <!--<div class="text-container">
                <h2>Great Turkey Hunting Gear</h2>
                <h3>at Great Prices</h3>
                </div>-->
                </div>
                </a>
            </li>
        </ul>
    </div>
    <nav class="main-nav">
        <div class="nav-container">
            <ul id="nav">
                <li class="level0 nav-0 level-top  active"><a href="#" class="level-top"><div>Featured Deals</div></a></li>
                <li  class="level0 nav-1 first level-top parent"><a href="#"  class="level-top" ><div>Firearms</div></a></li>
                <li  class="level0 nav-2 level-top parent"><a href="#"  class="level-top" ><div>Ammunition</div></a></li>
                <li  class="level0 nav-3 level-top parent"><a href="#"  class="level-top" ><div>Accessories</div></a></li>
                <li  class="level0 nav-4 level-top parent"><a href="#"  class="level-top" ><div>Optics</div></a></li>
                <li  class="level0 nav-5 level-top parent"><a href="#"  class="level-top" ><div>Lights and Lasers</div></a></li>
                <li  class="level0 nav-6 level-top parent"><a href="#"  class="level-top" ><div>Belts, Cases, &amp; Holsters</div></a></li>
                <li  class="level0 nav-7 level-top"><a href="#" class="level-top" ><div>Personal Defense</div></a></li>
                <li class="level0 nav-8 last level-top"><a href="#" class="level-top" ><div>Clearance </div></a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="page home">
    <div class="main col1-layout">

        <div class="col-main">
            
            <ul class="cards-list">

               <li>
                <div class="sin-card" ng-repeat="item in realEstatesDataBuyer | limitTo: increLength">
                    <span class="gun-img">
                        <!--<img src="media/DataIngestionAppINITIALTEMPIMAGE.png" alt="Gun" />-->
                        <img ng-src="{{item.Image1}}"  onerror="this.src='media/DataIngestionAppINITIALTEMPIMAGE.png'" alt="Gun">
                        </span>
                        <span class="gun-title">
                        <strong>{{item.Manufacturer}}<br />{{item.Series}}</strong>
                        <!-- <font>SMITH &amp; WESSON</font> -->
                   </span>
                    <span class="gun-feat">
                        <span><strong>Caliber:</strong>{{item.Caliber}}</span>
                        <span><strong>Model:</strong>{{item.Model}}</span>
                        <span><strong>Capacity</strong>{{item.CapacityStandard}}</span> 
                    </span>
                    <span class="gun-feat">
                        <span><strong>Barrel Length</strong>{{item.BarrelLength}}</span>
                        <span><strong>MSRP</strong>{{item.MSRP}}</span>
                        <span><strong>Best Use</strong>{{item.BestUse}}</span>
                    </span>
                    <a href="#" class="buy-gun">BUY NOW</a> 
                </div>
               </li>
            </ul>
        </div>
    </div>
</div>
<span in-view="$inview && lineInView()" id="lazingLoading" style="color:transparent">&nbsp;</span>
<footer class="clearfix">
<style type="text/css">.at-share-close-control .at4-arrow {float: right !important;}
@media only screen and (max-width:960px){
.mob .mobile-nav {display: block;}
}
</style>
    <div class="ayy-social">
        <span>Follow</span><br />
        <img src="skin/frontend/odl/odl/images/email-facebook.jpg" alt="" />
        <img src="skin/frontend/odl/odl/images/email-twitter.jpg" alt="" />
        <img src="skin/frontend/odl/odl/images/email-pinterest.jpg" alt="" />
    </div>
    <div class="footer-links">
        <div class="preference-form">
            <form action="" method="get">
            <label class="pref-email">Newsletter Signup</label>
            <div class="input-wrap">
            <input type="text" name="email" id="pref-email" class="input-text" placeholder="Email" />
            </div>
            <button type="submit" class="btn" title="Submit">Submit</button>
            </form>
        </div>
        <ul>
            <li><a href="#" target="_blank">FAQs</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Site Rules</a></li>
            <li><a href="#">User Agreement</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
    <address class="copyright">&copy; 2017 GunDeals.com. All Rights Reserved.</address>
</footer>



<!-- chatbox -->
<div class="row">
        <div class="col-md-3 col-xs-12 chatBox" ng-class="showChatBot?'msgShrink':null" ng-show="showChatBox">
          <div class="row">
            <div class="col-md-12 chatTitle">
              <div class="row">
                <div class="col-md-10 chatUser">GunBro</div>
                <div class="col-md-2 chatClose" ng-class="showChatBot?'rotateArrow':null" ng-click="showChatBot?chatToggle('close'):chatToggle('open')"></div>
              </div>
            </div>
            <div class="col-md-12 chatWrapper">
              <div class="col-md-12 chatScroller">
                <div class="row" ng-class="(item.messageSource==='messageFromBot')?'incomingMessage':'outgoingMessage'" ng-repeat="item in messageList">
                  <div class="col-md-2 userThumbnail" ng-if="item.messageSource==='messageFromBot'"></div>
                  <div class="col-md-10 userMessage" ng-if="item.messageSource==='messageFromBot'">
                    <span ng-bind="item.messageText"></span>
                    <a href="{{item.link}}" ng-bind="item.link" target="_blank"></a>
                  </div>
                  <div class="col-md-10 userMessageAgo" ng-if="item.messageSource==='messageFromBot'" ng-bind="item.messageTime"></div>
                  <div class="col-md-10 userMessage" ng-if="item.messageSource==='messageFromUser'" ng-bind="item.messageText"></div>
                  <div class="col-md-10 userMessageAgo" ng-if="item.messageSource==='messageFromUser'" ng-bind="item.messageTime"></div>
                </div>
                <div class="row loadingMessage" ng-if="showMsgLoader">
                  <div class="col-md-2 userThumbnail"></div>
                  <div class="col-md-10 userMessage">
                    <div class="col-md-4 loadingAnim">
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 autofillWrapper" style="height: {{(autofillFiltered.length*25)+4}}px" ng-if="autofill && autofill.data && messageText && !autofillHide">
            <div class="row autofillList" ng-repeat="item in (autofill.data | autofill:messageText | limitTo : 8) as autofillFiltered" ng-bind="item" ng-click="autofillSelect(item)" ng-class="$index === autofillActive?'selectedAutofill':null"></div>
            <div class="row autofillList" ng-if="autofillFiltered.length===0">No other {{autofill.type}} found!</div>
          </div>
            <div class="col-md-12 chatSend">
              <div class="row">
                <div class="col-md-10 textMessage">
                  <textarea class="textMessageField" id="messageText" ng-model="messageText" ng-keydown="sendMessage($event)" ng-change="changeMessageText()"></textarea>
                </div>
                <div class="col-md-2 sendButton" ng-click="sendMessageToBot()"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>
<a href="javascript:void(0);" class="chat-bubble" ng-click="showChatBot?chatToggle('close'):chatToggle('open')">Ask Joe!</a>
<script type="text/javascript">
$(document).ready(function() {
$('.mobile-menu').click(function() {
    $('body').toggleClass('mob');
});
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();
    if (scroll >= 5) {
        $("body").addClass("down");
    }
    else{
         $("body").removeClass("down");
    }
    if($(window).scrollTop() + $(window).height() > ($(document).height() - 100) ) {
       $("body").addClass("scrl-down");
    }
    else{
         $("body").removeClass("scrl-down");
    }
});
});
</script>

<script src="js/angularmin.js"></script>
<script src="js/jquery1.12.4.js"></script>
<script src="js/angularInview.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-inview/2.2.0/angular-inview.min.js"></script> -->
    <script src="js/chatBox.js"></script>
</body>
</html>